# Python Environment
venv/
__pycache__/
*.pyc

# Dash / Plotly / Data Files
# data/*.db       <-- DELETE THIS LINE
# data/*.sqlite   <-- DELETE THIS LINE
.ipynb_checkpoints/
*.csv           

# IDE and OS
.DS_Store
.vscode/

# 確保 src/ 下的快取也被忽略
src/__pycache__/
# data/           <-- DELETE THIS LINE (Very Important)